@page "/categories"
<GenericList MyList="Categories">
    <Body>
        <MudCard>
            <MudCardHeader>
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@Icons.Material.Filled.Tag" /> Categorias
                </MudText>
                <MudSpacer />
                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Href="/category/create" Label="Nueva" Class=" float-end" />
            </MudCardHeader>
            <MudCardContent>
                <MudTable Items="Categories" Hover="true" >
                    
                    <RowTemplate>
                            <MudTr>
                                <MudTd>
                                Categoria: @context.Name
                                </MudTd>
                               
                           
                                <MudTd>
                                    <MudButton Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small"   StartIcon="@Icons.Material.Filled.Edit" Href="@($"/categories/edit/{context.Id}")">Editar</MudButton>
                                      <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" StartIcon="@Icons.Material.Filled.Delete" OnClick="@(() => DeleteAsync(context))">Borrar</MudButton>
                                </MudTd>
                            </MudTr>
                       
                       
                    </RowTemplate>
              </MudTable>
               
            </MudCardContent>
        </MudCard>
    </Body>
</GenericList>