@page "/Login"



 <MudPaper Class="mx-auto my-6 p-4" MaxWidth="400px">
    <MudText Typo="Typo.h5" Align="Align.Center">Login</MudText>
    <EditForm Model="loginDTO" OnValidSubmit="LoginAsync">
        <DataAnnotationsValidator />

        <MudTextField Label="Email" @bind-Value="loginDTO.Email" Variant="Variant.Outlined" FullWidth="true" Required="true" />
        <ValidationMessage For="@(() => loginDTO.Email)" />

        <MudTextField Label="Contraseña" @bind-Value="loginDTO.Password" Variant="Variant.Outlined" FullWidth="true" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" Required="true" InputType="@PasswordInput" OnAdornmentClick="ViewPassword" />
@*         <MudTextField @bind-Value="Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
 *@        <ValidationMessage For="@(() => loginDTO.Password)" />
        <MudSpacer /> <!-- Añade un espaciador aquí -->

    <div>
         <button class="btn btn-primary w-100" type="submit">Iniciar Sesión</button>
    </div>
       
    </EditForm>
</MudPaper> 
