@page "/document/imageupload2"

@if (Image == null || ObraSociales == null)
{
    <Loading Label="Cargando obras sociales espere..." />
}
else
{
    <NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
    <EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
         <ValidationSummary />
        <MudPaper Class="mb-3 p-3">
            <MudText Typo="Typo.h4" GutterBottom="true">
                Carga Documentación Obra Social
            </MudText>
        </MudPaper>
    <!-- Aquí van los campos del formulario -->
     @*    <div class="mb-3">
            <h2>Carga Documentación Obra Social</h2>
        </div> *@
      
            @* <InputText class="form-control" @bind-Value="Image.Name" />
            <ValidationMessage For="@(() => Image.Name)" /> *@

            <div class="form-group">
                <label for="obraSocial">Seleccione una Obra Social</label>
                <select class="form-select" id="obraSocial" @bind="Image.ObraSocial">
                    <option value="">-- Seleccione una Obra Social --</option>
                    @if (ObraSociales != null)
                    {
                        @foreach (var obraSocial in ObraSociales)
                        {
                            <option value="@obraSocial.C01">@obraSocial.F01</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => Image.ObraSocial)" />
            </div>
         
            <MudDatePicker Label="Periodo:" Editable="true"
                           @bind-Date="_date3"
                           Mask="@(new DateMask("0000-00"))"
                           DateFormat="yyyy-MM"
                           Placeholder="YYYY-MM" />
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-data-transfer-upload" />Carga Documentos
                        <div class="upload-section">
                            <h3 class="upload-heading">Selecciona tus archivos...</h3>
                            <div class="file-input-container">
                                <InputFile OnChange="LoadFiles" multiple />
                               
                            </div>
                        </div>
                    </span>
                </div>

           

            @if (uploading)
            {
                <Loading Label="Subiendo Archivos a la nube..." />
            }

            @if (!string.IsNullOrEmpty(uploadMessage))
            {
                <p>@uploadMessage</p>
            }
            @if (loadedImages != null && loadedImages.Any())
            {
                <MudTable Items="loadedImages" Striped="true">
                    <HeaderContent>
                        <MudTh>Nombre</MudTh>
                        <MudTh>Vista Previa</MudTh>
                        <MudTh>Acción</MudTh>
                    </HeaderContent>

                    <RowTemplate Context="image">
                        <MudTd DataLabel="Nombre">@image.Name</MudTd>
                        <MudTd DataLabel="Vista Previa">
                            <!-- Vista previa de la imagen, al hacer clic se abre el modal -->
                            <MudImage Src="@($"data:image/jpeg;base64,{image.Base64}")"
                                      Alt="@image.Name"
                                      Width="50"
                                      Height="50"
                                      Style="cursor:pointer;"
                                      @onclick="() => OpenModal(image.Base64)"></MudImage>
                        </MudTd>
                        <MudTd DataLabel="Acción">
                            
                            <MudButton Color="Color.Error"
                                       StartIcon="@Icons.Material.Filled.Delete"
                                       OnClick="() => DeleteImage(image)"
                                       
                                       Style="cursor:pointer;">
                                Eliminar
                            </MudButton>
                        </MudTd>
                    </RowTemplate>

                </MudTable>
                <!-- Modal para la vista previa -->
               
            }
         @*    <MudButton Type="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
                Enviar
            </MudButton> *@


            <button class="btn btn-primary" type="submit">Guardar Cambios</button>

        </div>
    </EditForm>

    


    <MudDialog @bind-Open="_isModalOpen">
        <DialogContent>
            <MudImage Src="@($"data:image/jpeg;base64,{_modalImageBase64}")"
                      Alt="Vista Previa"
                      MaxWidth="100%"
                      MaxHeight="500px" />
        </DialogContent>
    </MudDialog>




   

 
   

}
