@page "/document/imageupload2"

@if (Image == null || ObraSociales == null)
{
    <Loading />
}
else
{
    <NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
    <EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <h2>Carga Documentación Obra Social</h2>
        </div>
        <div>
            @* <InputText class="form-control" @bind-Value="Image.Name" />
            <ValidationMessage For="@(() => Image.Name)" /> *@

            <div class="form-group">
                <label for="obraSocial">Seleccione una Obra Social</label>
                <select class="form-select" id="obraSocial" @bind="Image.ObraSocial">
                    <option value="">-- Seleccione una Obra Social --</option>
                    @if (ObraSociales != null)
                    {
                        @foreach (var obraSocial in ObraSociales)
                        {
                            <option value="@obraSocial.C01">@obraSocial.F01</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => Image.ObraSocial)" />
            </div>
           @*  <div class="mb-3">
                <label>Periodo:</label>
                <InputMonth @bind-Value="Image.Periodo" class="form-control" />
                <ValidationMessage For="@(() => Image.Periodo)" />
            </div> *@
            @* <MudDatePicker Label="Periodo yyyy-MM" Editable="true" @bind-Date="_date3" Mask="@(new DateMask("0000-00"))" DateFormat="yyyy-MM" Placeholder="ISO Date" /> *@
            <MudDatePicker Label="Periodo:" Editable="true"
                           @bind-Date="_date3"
                           Mask="@(new DateMask("0000-00"))"
                           DateFormat="yyyy-MM"
                           Placeholder="YYYY-MM" />
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-data-transfer-upload" />Carga Documentos
                        <div class="upload-section">
                            <h3 class="upload-heading">Selecciona tus imágenes</h3>
                            <div class="file-input-container">
                                <InputFile OnChange="LoadFiles" multiple />
                                @*    <span class="file-input-label">Haz clic aquí para seleccionar archivos</span> *@
                            </div>
                        </div>
                    </span>
                </div>
                <MudItem xs="12" md="3">
                    <InputImg Label="Foto"  />
                </MudItem>
            </div>

            @if (uploading)
            {
                <div class="spinner" />
            }

            @if (!string.IsNullOrEmpty(uploadMessage))
            {
                <p>@uploadMessage</p>
            }
            @if (loadedImages != null && loadedImages.Any())
            {
                <h3>Imágenes Cargadas</h3>
                <table class="image-table">
                    <tr>
                        @foreach (var image in loadedImages)
                        {
                            <td>
                                <img src="@image.Name" alt="Imagen a Subir" />
                            </td>
                        }
                    </tr>
                </table>
            }

            <button class="btn btn-primary" type="submit">Guardar Cambios</button>

        </div>
    </EditForm>
}
