<div>
    <label>@Label</label>
    <div>
        <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFiles" Accept=".png, .jpg, .pdf"  MaximumFileCount="100">
            <ActivatorContent>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.CloudUpload">
                    Multiple Files
                </MudButton>
            </ActivatorContent>
        </MudFileUpload>
        @if (_files != null)
        {
        <MudList T="string">
                @foreach (var file in _files)
                {
                    <MudListItem Icon="@Icons.Material.Filled.AttachFile">
                        @file.Name <code>@file.Size bytes</code>
                    </MudListItem>
                }
        </MudList>
        }

    </div>


</div>

<div>
    @if (imageBase64 is not null) // si la seleccion una nueva pintamos la imgaen
    {
        <div>
            <div style="margin: 10px">
                <img src="data:image/jpeg;base64, @imageBase64" style="width:400px" />
            </div>
        </div>
    }

    @if (ImageURL is not null) //si ya tiene imagen o foto o sea editar
    {
        <div>
            <div style="margin: 10px">
                <img src="@ImageURL" style="width:400px" />
            </div>
        </div>
    }
</div>


