<MudNavMenu>
    <!-- Logo en la parte superior -->
     <MudNavMenuHeader>
        <div style="text-align: center; padding: 10px;">
           <img src="images/logo2.png" alt="A.C.L.E.R."  style="max-width: 100%; height: auto ;" /> 
            @* <MudImage Src="images/logo.PNG" Alt="Mony el perro" Elevation="25" Class="rounded-lg" /> *@
        </div>
    </MudNavMenuHeader> 

   <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="document" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.DocumentScanner">Document</MudNavLink>
  
    

    <AuthorizeView Roles="Admin">
        <Authorized>
            <MudNavGroup Title="Listados" Expanded="true">
                <MudNavLink Href="clinicasIndex" Icon="@Icons.Material.Filled.LocalHospital">Clinicas</MudNavLink>
                
                <MudNavLink Href="obraSocialesIndex" Icon="@Icons.Material.Filled.PeopleAlt">Obras Sociales</MudNavLink>
                 <MudNavLink Href="categories" Icon="@Icons.Material.Filled.Category">Categorías</MudNavLink>
                <MudNavLink Href="countries" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.OutlinedFlag">Paises</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SupervisedUserCircle">Usuarios</MudNavLink>
        </Authorized>
       
    </AuthorizeView>
  
</MudNavMenu>


