@page "/"
<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
    </Authorized>
  <NotAuthorized>
        <p>No estas Autorizado</p>
  </NotAuthorized>
</AuthorizeView>

@if (result!=null)
{
    @foreach (clienteSwager.WeatherForecast weather in result) 
    {
        <div>
            @weather.TemperatureC
            @weather.TemperatureF
            @weather.Summary
            @weather.Date
        </div>
        
    }
}


@code{
    private ICollection<clienteSwager.WeatherForecast> result;
    private clienteSwager.swaggerjsonClient client = new clienteSwager.swaggerjsonClient("https://localhost:7207/", new HttpClient());


    private async Task Refresh()
    {
        result = await client.GetWeatherForecastAsync();
    }


    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }
   
}
 